body{
    background-color: #011f4b;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: #011f4b;
    border: 1px solid black;
    color: white;
}

nav{
    
    text-align: center;
    background-color: #80a2c0;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

nav a{
    margin-right: 50px;
    font: bold;
    color: black;
    text-decoration: none;
    
}

nav li{
    
    display: inline;
}

.display{
    display: flex;
}

article{
    background-color: #80a2c0;
    border: 2px solid black;
    padding: 10px;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    flex: 80%;
    line-height: 20px;
    color: white;
}


aside{
margin-top: 10px;
padding: 10px;
color: white;
    background-color: #6497b1;
    border: 1px solid rgb(5, 131, 131);
    padding: 20px;
    flex: 20%;
}

footer{
    text-align: center;
    background-color:#6497b1 ;
    border: 1px solid black;
    margin: 0;
    padding: 20px;
    line-height: 30px;
    font-size: 15px;
    color: white;
}

  

span{
    color: rgb(46, 192, 250);
}


#Part1{
    padding:20px;
    border: 1px solid black;
    background-color: #6497b1;
}

#Part2 {

    padding:20px;
    border: 1px solid black;
    background-color: #6497b1;
}

#Part3{
    padding:20px;
    border: 1px solid black;
    background-color: #6497b1;
}
